ENCRYPTION_KEY="xxxxxxxx"

// TinyMCE
NEXT_PUBLIC_TIMYMCE_API_KEY='Your TinyMCE API Key'

// Pinata
PINATA_JWT="Your Pinata JWT"
NEXT_PUBLIC_GATEWAY_URL="Your Pinata Gateway URL"

// Wallect Connect
WALLETCONNECT_PROJECT_ID="Your WalletConnect Project ID"